:host {
	--hover-bg-color: var(--harmony3d-repository-hover-bg-color, red);
	user-select: none;
}

.header {
	display: flex;
}

.header:hover {
	background-color: var(--hover-bg-color);
}

.self {
	flex: 1;
}

.custom {
	display: block;
	flex: 0;
}
